**TAsk 10**
Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [16]:
import pandas as pd
import numpy as np
import gdown
from scipy import stats

In [14]:
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

# Read the downloaded CSV file
df = pd.read_csv('data.csv')
df.head()

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\sowunmi oluwafeyifun\Desktop\Linear_Algebra\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 53.1MB/s]

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [22]:
# Selecting Argentina and Bangladesh
arg_beef = df[(df['country'] == 'Argentina') & (df['food_category'] == 'beef')]
arg_beef

   Unnamed: 0    country food_category  consumption  co2_emission
2           3  Argentina          beef        55.48        1712.0

In [28]:
arg_beef_cons =arg_beef['consumption']
arg_beef_cons

2    55.48
Name: consumption, dtype: float64

In [37]:
arg_beef_cons_mean = arg_beef_cons.mean()
print(f"Argentina beef consumption Mean: {arg_beef_cons_mean}")

Argentina beef consumption Mean: 55.48

In [23]:
bang_beef = df[(df['country'] == 'Bangladesh') & (df['food_category'] == 'beef')]
bang_beef

      Unnamed: 0     country food_category  consumption  co2_emission
1421        1422  Bangladesh          beef         1.28          39.5

In [35]:
bang_beef_cons =bang_beef['consumption']
bang_beef_cons

1421    1.28
Name: consumption, dtype: float64

In [36]:
bang_beef_cons_mean = bang_beef_cons.mean()
print(f"Bangladesh beef consumption Mean: {bang_beef_cons_mean}")

Bangladesh beef consumption Mean: 1.28

In [52]:
# to check for significant difference between arg and Bangladesh
t_stat, p_val = stats.ttest_1samp(arg_beef_cons_mean, bang_beef_cons_mean)

print(f"T-Statistics: {t_stat}")
print(f"P-value: {p_val}")

# Interpretation
alpha = 0.05

if p_val < alpha:
    print("We fail to reject the null hypothesis mean of beef consumption in Argentina is equal to mean of beef consumption in Bangladesh")

else:
    print("We reject the null hypothesis mean of beef consumption in Argentina is equal to mean of beef consumption in Bangladesh ")

T-Statistics: nan
P-value: nan
We reject the null hypothesis mean of beef consumption in Argentina is equal to mean of beef consumption in Bangladesh

In [ ]:
# to check for significant difference between arg and Bangladesh Meat consumption
diff = arg_beef_cons_mean - bang_beef_cons_mean
print("The significant difference between the Mean of Argentina beef consumption and Bangladesh beef consumption is", diff)

The significant difference between the Mean of Argentina beef consumption and Bangladesh beef consumtip 54.199999999999996